h2 Famo.us Quotes

p.content "#{content}"
p.author #{author}
div
  a(action="menu") More quotes
  ul
    li: a(href="#page1") John Lubbock
    li: a(href="#page2") Henry Thoreau
    li: a(href="#page3") Socrates
    